%h2 Search Short URL
%form(action="/search_short_url" method="POST")
	%label(for="shorturl")
	%input(type="text" name="shorturl" id="shorturl" accesskey="s")
	%input(type="submit" value="Search")
-if !@result.nil? && !params[:shorturl].empty?
	%p
		URL of http://#{settings.address}/#{params[:shorturl]} is:
	%a(href="#{@result.url}")#{@result.url}
-elsif params[:shorturl]
	%p It couldn't find the shorter url in the Database.