%h2 Create a Short URL
%form(action="/" method="POST")
	%label(for="url") URL
	%input(type="text" name="url" id="url" accesskey="s")
	%br
	%label(for="custom") Custom Short URL(optional)
	%input(type="text" name="custom" id="custom" accesskey="t")
	%br
	%input(type="submit" value="Shorten" class="btn btn-primary")
- if @short_url.present? && !@short_url.valid?
	%p Invalid URL: #{@short_url.url}
- if @short_url.present? && !@check_custom.nil?
	%p Invalid Custom URL: #{@short_url.custom}