<html>
	<head>
		<title>Rock Paper Scissors</title>
		<link rel="stylesheet" type="text/css" href="/css/test.css">
	</head>
	<body>
		<h1> Rock, Paper &amp; Scissors </h1>
		<div class="capa1">
			<form id="forma" name="formulario" action="/jugar" method=POST>
				Choice your Option:
				<select name="option">
					<option value="paper" selected>Paper</option>
					<option value="rock">Rock</option>
					<option value="scissors">Scissors</option>
					<input type="submit" value="Play"/>
				</select>
			</form>
		</div>
	</body>
</html>	