<html>
	<head>
		<title>Rock Paper Scissors</title>
		<link rel="stylesheet" type="text/css" href="/css/test.css">
		</head>
	<body>
		<h1> Rock, Paper &amp; Scissors </h1>
		<div class="capa1">
			<form id="forma" name="formulario" action="/jugar" method=POST>
				Elige su opcion:
				<select name="option">
					<option value="paper" selected>Papel</option>
					<option value="rock">Piedra</option>
					<option value="scissors">Tijera</option>
					<input type="submit" value="Juega"/>
				</select>
			</form>
		</div>
	</body>
</html>	
