<div class="snippet">
	<form action="/" method="POST">
		<p>
			Choice your Option:
			<select name="option">
				<option value="ruby" selected>Ruby</option>
				<option value="yaml">Yaml</option>
				<option value="xml">Xml</option>
			</select>
		</p>
		<textarea name="body" id="body" rows="20"></textarea>
		<br/><input type="submit" value="Save"/>
	</form>
  </div>
